<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 class="title"><a href="[[~[[+id]]]]" itemprop="url"><span itemprop="name">[[+pagetitle]]</span></a></h2>
    <p class="post-info">[[%articles.posted_by]] <a href="[[~[[*id]]]]author/[[+createdby:userinfo=`username`]]">[[+createdby:userinfo=`username`]]</a> [[+tv.articlestags:notempty=` | <span class="tags">[[%articles.tags]]: [[!tolinks? &items=`[[+tv.articlestags]]` &target=`[[*id]]` &useTagsFurl=`1`]]</span>`]]</p>
    <div class="entry">
	    <p itemprop="description">[[+introtext:default=`[[+content:ellipsis=`400`]]`]]</p>
    </div>
    <p class="postmeta">
      <span class="links">
        <a href="[[~[[+id]]]]" class="readmore" itemprop="url">[[%articles.read_more]]</a>
        [[+comments_enabled:is=`1`:then=`| <a href="[[~[[+id]]]]#comments" class="comments">[[%articles.comments]] ([[!QuipCount? &thread=`article-b[[+parent]]-[[+id]]`]])</a>`]]
        | <span class="date"><time itemprop="dateCreated" datetime="[[+publishedon:strtotime:date=`%Y-%m-%d`]]">[[+publishedon:strtotime:date=`%b %d, %Y`]]</time></span>
      </span>
    </p>
</div>