<tr>
    
<td class="fileListerPdf"><i class="fa fa-file-o
[[+extension:is=`xls`:then=`fa-file-excel-o`]]
[[+extension:is=`csv`:then=`fa-file-excel-o`]]
[[+extension:is=`doc`:then=`fa-file-word-o`]]
[[+extension:is=`docx`:then=`fa-file-word-o`]]
[[+extension:is=`pdf`:then=`fa-file-pdf-o`]]
"></i>&nbsp;</td> 
<td class="fileListerLink">[[+link]]</td>  
<td class="fileListerSize">[[+filesize]]</td>  
<td class="fileListerDownloads">[[+downloads]]</td>
</tr>